body{
    margin: 1px;
    padding: 0;
}

main{
    margin: 0 150px;
}

.navigationList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    font-size: 26px;
    color: #004fff;
}

nav{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: baseline;
    grid-gap: 100px;
    transition: font-size 1s 1s;
}

header{
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #004fff;
    opacity: 1;
}

nav.fixed > .navigationList{
    margin: 0;
    transition: margin 1s 100ms;
}

/*
nav.fixed > .btnToggle{
    padding: 10px 25px;
    transition: padding 1s 100ms;
}

nav.fixed > span{
    font-size: 20px;
    transition: font-size 1s 100ms;
}

nav.fixed > .navigationList{
    font-size: 16px;
    transition: font-size 1s 100ms;
}
*/

.refreshed{
    color: #004fff;
    font-size: 32px;
    cursor: pointer;
}

.navigationList li:hover {
    color: #009fff;
    cursor: pointer;
}

.notInList a{
    color: #aaaaaa;
}

.navigationList .notInList:hover {
    cursor: auto;
    color: #aaaaaa;
}

.addedList {
    list-style-type: none;
}

.addedList span{
    color: #004fff;
    font-size: 24px;
}

.listOfBooks {
    list-style-type: none;
    display: grid;
    grid-template-columns:  minmax(200px, 300px);
    grid-gap: 30px;
    justify-content: flex-start;
}

.listOfBooks.pressed {
    list-style-type: none;
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(200px, 300px));
    grid-gap: 30px;
    justify-content: space-between;
}

.addedList{
    margin: 0;
    padding: 10px 25px;
}

html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: baseline;
    grid-gap: 100px;
}

.inActive a{
    color: #aaaaaa;
}

a{
    text-decoration: none;
    color: #004fff;

}

a:visited{
    color: #004fff;
}

.btnToggle{
    margin: 5px;
    padding: 15px 30px;
    background-color: #004fff;
    color: white;
}

.head::before{
    display: block;
    content: " ";
    margin-top: -90px;
    height: 90px;
    visibility: hidden;
    pointer-events: none;
}
